<form [formGroup]="form">
  <!--Value: {{ form.value | json }}
  <br />-->
  <div class="form-group">
  <input class="form-control"
    *ngIf="
      name_of_filter.name == 'Shannons entropy' ||
      name_of_filter.name == 'Text element distance' ||
      name_of_filter.name == 'Index of coincidence' ||
      name_of_filter.name == 'Adjacent contacts' ||
      name_of_filter.name == 'Frequency of text elements'
    "
    type="text"
    placeholder="delimiter"
    formControlName="delimiter"
  />

  <input class="form-control"
    *ngIf="
      name_of_filter.name == 'Shannons entropy' ||
      name_of_filter.name == 'Text element distances' ||
      name_of_filter.name == 'Index of coincidence' ||
      name_of_filter.name == 'Frequency of text elements'
    "
    type="text"
    placeholder="number"
    formControlName="n"
  />
  <input class="form-control"
    *ngIf="name_of_filter.name == 'Pattern search'"
    type="text"
    placeholder="pattern"
    formControlName="pattern"
  />

  <label *ngIf="name_of_filter.name == 'Index of coincidence'" for="normalize">Do you want to normalize?</label>
  <input 
    *ngIf="name_of_filter.name == 'Index of coincidence'"
    type="checkbox"
    name="normalize"
    formControlName="normalize"
  />
  <label *ngIf="name_of_filter.name == 'Index of coincidence'" for="approx">Do you want to use approx.?</label>
  <input 
  *ngIf="name_of_filter.name == 'Index of coincidence'"
  type="checkbox"
  name="approx"
  formControlName="approx"
/>
<label *ngIf="name_of_filter.name == 'Remove accents'" for="spaces">Do you want to keep spaces?</label>
  <input 
    *ngIf="name_of_filter.name == 'Remove accents'"
    type="checkbox"
    placeholder="pattern"
    name="spaces"
    formControlName="Spaces"
  />
  <label *ngIf="name_of_filter.name == 'Frequency of text elements'" for="relative">Relative/Absolute</label>
  <input 
    *ngIf="name_of_filter.name == 'Frequency of text elements'"
    type="checkbox"
    placeholder="pattern"
    id="relative"
    formControlName="relative"
  />
  <button class="btn btn-outline-primary"(click)="send_notification()">Save Settings</button>
</div>
</form>

