input.form-control{
    width: 50%;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
}
.btn.btn-outline-primary{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}
.save-align{
    width: 100%;
    margin-top: 3%;
}
.dropdown-align{
    width: 100%;
}
.dropdown-align select{
    width: 100%;
}