.modal.show{
    display:block;
    background-color:#00000080;
  position: fixed;
}
  .modal{
        cursor: default;
  }
    li{
        list-style: none;
    }
    .btn.btn-outline-warning{
      width: 100%;
    }