<!-- The Modal -->
<button class="btn btn-outline-warning" type="button" (click)="send_disable_flag()" data-toggle="modal"(click)="showModal=true" data-target="#myModal" data-backdrop="static" data-keyboard="false">
  <fa-icon [icon]="faCog"></fa-icon>
  </button>

<div class="modal" id="myModal" [ngClass]="{'show':showModal}">
    <div class="modal-dialog" >
      <div class="modal-content" >
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h6 class="modal-title">Inputs for {{name_of_input.name}}</h6>
          <button type="button" class="close" (click)="showModal=false" data-dismiss="modal"  (click)="send_enable_flag()"><fa-icon [icon]="faTimes"></fa-icon></button>
        </div>
      
        <app-form1 [name_of_filter]="name_of_input" [number_of_filter]="number_of_input" (message)="recieve_modal_close($event)"></app-form1>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <p class="text-center">Manulab 2022</p>
        </div>
  
      </div>
    </div>
  </div>