<div class="container">
    <div class="row">
      <div class="col-md border rounded">
        <img class="imgloader" [src]="url"/>
      </div>
      <div class="col-md border rounded">
        <textarea class="inputtextarea" name="textarea" id="textarea" [(ngModel)]="text"></textarea>
      </div>
      <div class="col-md border rounded helo">
        <table class="table">
          <tbody>
              <tr>
                <td scope="col">Page Name</td>
                <td scope="col">Delete page</td>
                <td scope="col">Use all <input class="form-check-input" type="checkbox" [checked]="true" (change)="check_all($event)"></td>
              </tr>
            <tr *ngFor="let item of Pages ;let i = index">
              <td scope="row" >Page {{item.id}}</td>
              <td scope="row">
                <Button (click)="delete_page($event,i)" style="border:none;background: none;display: block;margin: auto;color: red;"><fa-icon [icon]="faDelete"></fa-icon></Button>
              </td>
              <td scope="row">
                <input class="form-check-input" type="checkbox" (change)="used_pages($event)" [value]="item.id"[checked]="item.checked">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
      <label class="btn btn-outline-primary" style="margin-right:1%"><input  type="file" multiple="multiple" accept="image/*,.txt,.zip" (change)="selectfile($event)">Choose file</label>
      <button class="btn btn-outline-primary" (click)="uploadPage()"><fa-icon [icon]="faTimes"></fa-icon> Upload file</button>
      </div>
  </div>
  
