
<div class="container">
    <div class="row">
      <div class="col-lg-3 border rounded" [style.display]="display_loader ? 'none' : 'flex'">
        <img class="imgloader" [src]="url"/>
      </div>
      <div class="col-lg-3 border rounded" [style.display]="display_loader ? 'block' : 'none'">
        <h2 style="width:100%;display: block;">Database import</h2>
      <br/>
      <div class="checkbox_container">
      <h5><label for="page_swap">Use pagination: </label>
      <input  class="form-check-input" (change)="swap_lists($event)" type="checkbox" name="page_swap" id="page_swap">
    </h5>
    </div>
      <input placeholder="Search" id="mydrop" [(ngModel)]="any_data" (change)="onOptionsSelected($event)" class="form-control" list="menace" name="menace" style="width:100%; height:50px; display:block;">
     <div [style.display]="display_partitioner ? 'none' : 'block'">
       <div class="paginator-wrapper">
         <div class="button-holder">
      <button id="left-button" class="btn btn-outline-primary"(click)="previous_page()"><fa-icon [icon]="faArrowLeft"></fa-icon></button>
      <button id="right-button" class="btn btn-outline-primary"(click)="next_page()" ><fa-icon [icon]="faArrowRight"></fa-icon></button>
    </div>
      <p>Page: {{scroller+1}}/{{dropdown_partitions.length}}</p>
    </div>
      </div>
     <div class="table_holder" *ngIf="display_partitioner!==true">
       <table class="table">
         <thead>
          <tr><th>Name</th><th>Add</th></tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dropdown_partitions[scroller];let i=index">
            <td>{{item.name}}</td>
            <td><Button class="btn btn-outline-success" (click)="choose_page(i)"><fa-icon [icon]="faplus"></fa-icon></Button></td>
          </tr>
        </tbody>
       </table>
     </div>
     <div class="table_holder_two" *ngIf="display_partitioner==true">
      <table class="table">
        <thead>
         <tr><th>Name</th><th>Add</th></tr>
       </thead>
       <tbody>
         <tr *ngFor="let item of dropdown_list_data;let i=index">
           <td>{{item.name}}</td>
           <td><Button class="btn btn-outline-success" (click)="choose_page(i)"><fa-icon [icon]="faplus"></fa-icon></Button></td>
         </tr>
       </tbody>
      </table>
    </div>
      
      </div>
      <div class="col-lg-3 border rounded">
        <textarea class="inputtextarea" name="textarea" id="textarea" [(ngModel)]="text"></textarea>
      </div>
      <div class="col-md border rounded helo" cdkScrollable>
        <table cdkDropList class="table" (cdkDropListDropped)="drop($event)" cdkScrollable>
          <tbody>
              <tr>
                <td scope="col">Page</td>
                <td scope="col">Name</td>
                <td scope="col">Delete page</td>
                <td scope="col">Use all <input class="form-check-input" type="checkbox" [checked]="true" (change)="check_all($event)"></td>
              </tr>
            <tr class="example-box" *ngFor="let item of Pages ;let i = index" cdkDrag>
              <td (click)="check_pages(i)" matTooltip="Click to edit" scope="row" >{{i+1}}</td>
              <td (click)="check_pages(i)" matTooltip="Click to edit" scope="row" class="textcontainer">{{ (item.name.length>10)? (item.name  | slice:0:15)+'...':(item.name ) }}</td>
              <td (click)="check_pages(i)" matTooltip="Click to edit" scope="row">
                <Button (click)="delete_page($event,i)" style="border:none;background: none;display: block;margin: auto;color: rgb(0, 0, 0);"><fa-icon [icon]="faDelete"></fa-icon></Button>
              </td>
              <td scope="row">
                <input class="form-check-input" type="checkbox" (change)="used_pages($event)" [value]="item.id" [checked]="item.checked">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" >
      <div class="col-lg-6" id="col-wrapper">
      <label class="btn btn-outline-primary" style="margin-right:1%"><input  type="file" multiple="multiple" accept="image/*,.txt" (change)="selectfile($event)">Choose file</label>
      <button class="btn btn-outline-primary" (click)="uploadPage()"><fa-icon [icon]="faTimes"></fa-icon> Upload file</button>
      <button class="btn btn-outline-primary" (click)="show_db_segment()" style="margin-left:1%" ><fa-icon [icon]="fadb"></fa-icon> Load Data from db</button>
    </div>
      <div class="col-lg">
      <a id="link-wrap" class="btn btn-primary" routerLink="/analysis" >Go to analysis</a></div>
  </div>
</div>

  
