.data-result{
    border-left: #003688 4px solid;
width: 80%;
min-height: 330px;
height: auto;
background-color: rgb(184, 184, 184);
margin: auto;
//margin-bottom: 3px;
border-radius: 5px;
//box-shadow: 5px 5px rgb(99, 99, 99);
margin-top: 1%;
margin-bottom:1%;
padding: 5px;
}
.data-result-noresults{
    border-left: #003688 4px solid;
    width: 80%;
    background-color: rgb(184, 184, 184);
    margin: auto;
    //margin-bottom: 3px;
    border-radius: 5px;
    //box-shadow: 5px 5px rgb(99, 99, 99);
    margin-top: 1%;
    margin-bottom:1%;
    text-align: center;
    }
.data-result-nodata{
    border-left: #003688 4px solid;
    width: 80%;
min-height: 330px;
height: auto;
background-color: rgb(184, 184, 184);
margin: auto;
//margin-bottom: 3px;
border-radius: 5px;
//box-shadow: 5px 5px rgb(99, 99, 99);
margin-top: 5%;
}
.scrollable-div{
    overflow-y: scroll; 
    height:300px;
}
.wrapper-div{
    max-height: 650px;
}
.chart-container{
    margin-top: 10px;
    height:250px;
    overflow-x: scroll;
    display: block;
    width: 100%;
    
}
:host {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .spectre-pie-chart {
    display: block;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .header-wrapper{
      display: flex;
      flex-direction: row;
      width: 100%;
      position: relative;
      margin-bottom: 1%;
      
  }
  .button-wrapper{
      display: flex;
  }
  .button-wrapper button{
    margin-left: 3%;
}
  .header-wrapper .button-wrapper{
    position: absolute;
    right: 0;
}
.header-text{
    width: 50%;
}
.data-pointer{
    width: 8rem;
    height: 8rem;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top:1%;
}
.data-pointer h3{
    margin-top:31%;
    font-size: 2rem;
    color: grey;
}
@media (max-width: 480px) {
    .data-pointer{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .header-wrapper{
        flex-direction: column;
    }
    h2{
        max-width: 70%;
    }
 }
 .icon-show-modal{
    color: black;
    text-align: left;
}
 
 h2{
     font-size: 20px;
     float: left;
 }
 fa-icon{
     width: 3vw;
 }
 .svg-inline--fa{
    width: 3vw;
    height: 3vh;
 }
 .flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .footer {
    margin-top: auto;
  background-color: #0058db;
  min-height: 50px;
  text-align: center;
  color: white;
  }
  .footer p{
      margin-top: 1%
  }
  @media (max-width:858px) {
      .container{
        margin-top: 90px;
      }
    
    
  }