.data-result{
width: 80%;
min-height: 300px;
height: auto;
background-color: rgb(184, 184, 184);
margin: auto;
//margin-bottom: 3px;
border-radius: 5px;
//box-shadow: 5px 5px rgb(99, 99, 99);
margin-top: 5%;
}
.scrollable-div{
    overflow-y: scroll; 
    height:400px;
}