<div class="flex-wrapper">
<app-navigation></app-navigation>
<app-picture-modal [image_src]="showing_src" [show_modal]="boolean_show_modal" (emit_boolean_close)="recieve_event_boolean($event)"></app-picture-modal>
<!--<app-filter-groups (messageEvent)="receiveData($event)" (emit_applied_filter)="receive_applied_filterData($event)" [get_applied]="applied"></app-filter-groups>-->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 bg-white border rounded">
        <app-page-viewer (emit_boolean)="recieve_event_boolean($event)" (emit_src)="recieve_src_modal($event)"></app-page-viewer>
      </div>
      <div id="left-row" class="col-lg-6 border rounded bg-white">
        <app-filter-groups (messageEvent)="receiveData($event)" (emit_applied_filter)="receive_applied_filterData($event)" [get_applied]="applied"></app-filter-groups>
        <div cdkDropListGroup>
          <div class="example-container" cdkScrollable>
            <h2 style="text-align:center">Available</h2>
            <div style="margin-left: auto; margin-right: auto;"
              cdkDropList
              [cdkDropListData]="filters"
              class="example-list"
              [cdkDropListEnterPredicate]="noReturnPredicate"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of filters;let i = index" cdkDrag>
                <fa-icon class="filter-icon" *ngIf="item.group_id==1" [icon]="faCalculator"></fa-icon>
                <fa-icon class="filter-icon" *ngIf="item.group_id==2" [icon]="faTextWidth"></fa-icon>
                <fa-icon class="filter-icon" *ngIf="item.group_id==3" [icon]="faChartarea"></fa-icon>{{item.name}}<button class="btn btn-outline-success data"  (click)="add($event,i)"><fa-icon [icon]="faPlus"></fa-icon></button></div>
            </div>
          </div>
          <div class="example-container-applied" cdkScrollable>
            <h2 style="text-align:center">Selected</h2>
            <div style="margin-left: auto; margin-right: auto;"
              cdkDropList
              [cdkDropListData]="applied"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box-applied" *ngFor="let item of applied ; let i = index" cdkDrag [cdkDragDisabled]="list_bool_toggle">{{item.name}}<div class="data-box"><app-input-modal (disable)="recieve_disable($event)" [number_of_input]="i" [name_of_input]="item"></app-input-modal><button class="btn btn-outline-danger" (click)="delete($event,i)"><fa-icon [icon]="faTimes" style="color:red;"></fa-icon></button></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row buttons">
      <div class="col-lg-5 "><button class="btn btn-success" (click)="make_analysis()"><fa-icon [icon]="faPlay"></fa-icon>Analysis</button>
      <button class="btn btn-danger"(click)="delete_filters()">Delete all filters</button></div>
     
    </div>
  </div>
  <div class="footer"><p>@ManuLab team 2022 <app-info-modal class="icon-show-modal"></app-info-modal></p></div>
</div>
  
  