.inform-div{
    min-height: 400px;
    width: 80%;
    background-color: white;
    margin: auto;
    margin-top: 5%;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(99, 99, 99);
    border: black 1px solid;
}
.text-format{
    width: 80%;
    margin-left: 5%;
}
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
  .info-body{
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      display: block;
  }
  
  .footer {
    margin-top: auto;
  background-color: #0058db;
  min-height: 50px;
  text-align: center;
  }
  .icon-show-modal{
      color: black;
      text-align: left;
  }
  .my-para{
      margin-top: 1%;
      color: white;
      text-align: center;
  }
  .format-data{
      margin-left: auto;
      margin-right: auto;
      width: 30%;
  }
  .col-lg-6{
      text-align: center;
  }
  .col-md-8{
    text-align: center;
}
  .row.cards{
      margin-top: 2%;
  }
  .row.absolute-header{
      margin-top:5%;
  }
  .card h3{
      text-align: center;
  }
.card{
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:990px) {
    .card-box{
      margin-top: 10%;
    }
   
}
.card-box{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

