<div class="flex-wrapper">
<app-navigation></app-navigation>
<div class="container">
<div class="row absolute-header">
    <div class="col-md-2">
    </div>
    <div class="col-md-8"><h1>Welcome to ManuLab</h1></div>
    <div class="col-md-2"></div>
</div> 
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-lg-6 "><p>ManuLab online is a software product for statistical 
        analysis of encrypted historical manuscripts. The goal of this project was to create a accesible online 
        application for analysis of historical manuscripts. The software is designed to display manuscript with corresponding image.</p></div>
    <div class="col-md-3"></div>
</div> 
<div class="card-box">
<div class="row cards">
    <div class="card shadow p-3 mt-2 mb-1" style="width: 18rem;">
        <h3>Upload data</h3>
        <div class="card-body">
          <h5 class="card-title">1. Upload</h5>
          <p class="card-text">Upload your text files and images</p>
          <a routerLink="/upload" class="btn btn-primary">Go to upload</a>
        </div>
      </div>
     <div class="card shadow p-3 mt-2 mb-1" style="width: 18rem;">
        <h3>View results</h3>
        <div class="card-body">
          <h5 class="card-title">2. Apply</h5>
          <p class="card-text">Apply filters to pages that you uploaded</p>
          <a routerLink="/analysis" class="btn btn-primary">Go to analysis</a>
        </div>
      </div>
    
    <div class="card shadow p-3 mt-2 mb-1" style="width: 18rem;">
        <h3>Choose filters</h3>
        <div class="card-body">
          <h5 class="card-title">3. View</h5>
          <p class="card-text">View analysis results of files that you uploaded</p>
         
          <a routerLink="/analysis results" class="btn btn-primary">Go to results</a>
        </div>
      </div></div>  
      <div class="row cards">
    
</div>  
</div>

    <app-info-modal></app-info-modal>

</div>
<div class="footer"><p>@ManuLab team 2022</p></div>
</div>
