<!-- The Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal"(click)="showModal=true" data-target="#myModal">
  <fa-icon [icon]="faInfo"></fa-icon>
  </button>

<div class="modal" id="myModal" [ngClass]="{'show':showModal}">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Welcome</h4>
          <button type="button" class="close" (click)="showModal=false" data-dismiss="modal"><fa-icon [icon]="faTimes" style="color:red;"></fa-icon></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <ul>
        <li class="d-flex">
            <fa-icon [icon]="faCalculator"></fa-icon><p>-This icon represents filtergroup that calculate statistics on chosen pages.</p>
        </li>
        <li class="d-flex">
            <fa-icon  [icon]="faChartarea"></fa-icon><p>-This icon represents filtergroup that does cryptanalysis on text</p>
        </li>
        <li class="d-flex">
            <fa-icon  [icon]="faTextWidth"></fa-icon><p>-This icon represents filtergroup that does text manipulating operations on chosen pages</p>
        </li>
        </ul>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <p class="text-center">Manulab 2022</p>
        </div>
  
      </div>
    </div>
  </div>