.modal.show{
display:block;
background-color:rgba(0, 0, 0, 0.5);
}
li{
    list-style: none;
}
.btn.btn-primary{
   
}
.btn.btn-primary.inmodal{
    width: 10%;
    display: block;

}
.close{
border: none;
background:none;
}


