.custommargin{
    margin-right: 5%;
  display: flex;
}
.custommargin2{
    display: flex;

}
.paddingicon{
    padding: 2;
}
.btn.btn-outline-primary{
    margin-top: 1%;
    background: blue;
    color: white;
    width: 100%;
    height: auto;
    }
    .btn.btn-warning{
    
      color: white;
      width: 100%;
      margin-top: 1%;
      height: auto;
    }

  
    
    .btn.btn-success{
      margin-top: 1%;
      color: white;
      width: 100%;
      height: auto;
        }
    input[type="file"] {
      display: none;
    }
    input[type="text"] {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
      }
      .navbar-toggler{
        margin: auto;
      }
      ul{
        margin: auto;
      }
      .nav-item{
        margin:2%;

      }

      @media only screen and (max-width:576px){
        .nav-item{
          width: 70%;
          margin-right: auto;
          margin-left: auto;
  
        }
      }