<div class="container">
<div class="row">
    <div class="item-1">
      <button 
      class="btn btn-outline-primary" 
      value="4"
      (click)="radioChangeHandler($event)"
      (click)="click($event)"
      matTooltip="All filters"
      [style.border-color]="color"
      >All</button>
      <button class="btn btn-outline-primary" name="dayOfTheWeek" *ngFor="let filter of filter_groups"
      value="{{filter.id}}"
      matTooltip="Filter group: {{filter.value}}"
      (click)="radioChangeHandler($event)"
      (click)="click($event)"
      (click)="submit()"
      >
      <fa-icon style="pointer-events: none;" [icon]="filter.icon"></fa-icon><!--{{filter.value}}--></button>
      <label class="btn btn-warning" matTooltip="Upload filters"><input type="file" 
        (change)="selectfile($event)"> <fa-icon [icon]="faFile"></fa-icon></label>
      <a class="btn btn-success" title="Download JSON" (click)="download_filter()" [href]="downloadJsonHref" download="download.json" matTooltip="Download applied filters">
        <fa-icon [icon]="faFileDownload"></fa-icon></a>
</div>
<div class="item-2">
<div class="search"> 
  <form class="form-inline my-2 my-lg-0">
  <input (change)="searcheChangeHandler($event)" class="form-control mr-sm-2" id ="search" name="filtername"type="text" placeholder="Search" >
</form>
</div>
</div>

</div>
</div>



