<!-- The Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal"(click)="setModal()" data-target="#myModal">
    <fa-icon [icon]="faFile"></fa-icon>
    </button>
  
  <div class="modal" id="myModal" [ngClass]="{'show':showModal}">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Input pages</h4>
            <button type="button" class="close" (click)="showModal=false" data-dismiss="modal">X</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <div *ngFor="let page of pages_to_show;let i=index">
              <h5>{{page.name}}</h5>
              <div class="paragraph-borderizer">
                <textarea disabled class="textarea_right" [value]="page.page_text"></textarea>
            </div>
            </div>
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <p class="text-center">Manulab 2022</p>
          </div>
    
        </div>
      </div>
    </div>