<nav class="navbar transparent navbar-inverse navbar-fixed-top navbar-expand-lg navbar-light justify-content-between">
  <a class="navbar-brand ml-1 font-weight-bold text-white" routerLink=""><h1>MANULAB</h1></a>
  <button class="navbar-toggler " data-bs-toggle="collapse" data-bs-target="#menuu" aria-controls="menuu" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-nav justify-content-end mr-1" id="menuu">
    <a class="nav-item nav-link" routerLink="">About</a>
    <a class="nav-item nav-link" routerLink="/upload">Upload Page</a>
    <a class="nav-item nav-link" routerLink="/analysis">Analysis</a>
    <a class="nav-item nav-link" routerLink="/analysis results">Analysis Results</a>
  </div>
</nav>

