.ml-1 {
    margin-left: 3%;
  }

  .mr-1 {
    margin-right: 3%;
  
  }
  .nav-item.nav-link{
    font-weight: bold;
    color: white;
    padding: 1%;
  }
  .nav-item.nav-link:hover {
    text-decoration: underline;
}

h1{
  text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased
}
.navbar {
  background: none;
}
#navbar{
  background-color: #0058db;
}
