.ml-1 {
    margin-left: 3%;
  }

  .mr-1 {
    margin-right: 3%;
  
  }
  .nav-item.nav-link{
    font-weight: bold;
    color: white;
    padding-left: 0.3%;
    padding-top: 0.3%;
    padding-right: 0.3%;
    margin: 1%;
  }
  nav > ul > li > a {
    text-decoration: none;
}
  .nav-item.nav-link:hover {
   // background: rgb(9, 1, 114);
    //border-radius: 5px;
    color: white;
   padding-bottom: 0;
    border-bottom: 3px solid rgb(9, 1, 114);;
}

h1{
  text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased
}

#navbar{
  background-color: #0058db;
}
 #navbar .nav-item.nav-link.active {
  color: white;
   bottom: 0;
  padding-bottom: 0;
    border-bottom: 3px solid rgb(9, 1, 114);
}