<nav class="navbar transparent navbar-inverse navbar-fixed-top navbar-expand-lg navbar-light justify-content-between" id="navbar">
  <a class="navbar-brand ml-1 font-weight-bold text-white" routerLink=""><h1>MANULAB</h1></a>
  <button class="navbar-toggler " data-bs-toggle="collapse" data-bs-target="#menuu" aria-controls="menuu" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-nav justify-content-end mr-1" id="menuu">
    <a class="nav-item nav-link" [routerLinkActive]="['active']" routerLink=""[routerLinkActiveOptions]="{exact:true}">About</a>
    <a class="nav-item nav-link"[routerLinkActive]="['active']"  routerLink="/upload"[routerLinkActiveOptions]="{exact:true}">Upload Page</a>
    <a class="nav-item nav-link"[routerLinkActive]="['active']" routerLink="/analysis"[routerLinkActiveOptions]="{exact:true}">Analysis</a>
    <a class="nav-item nav-link" [routerLinkActive]="['active']" routerLink="/analysis results"[routerLinkActiveOptions]="{exact:true}">Analysis Results</a>
  </div>
</nav>

