<nav>
  <input type="checkbox"  id="checkbox">
  <label for="checkbox" class="checkbtn"><fa-icon [icon]="faBars"></fa-icon></label>
  <label class="logo">MANULAB</label>
  <ul>
  
  <li>
    <a  [routerLinkActive]="['active']" routerLink=""[routerLinkActiveOptions]="{exact:true}">About</a>
  </li>
  <li>
    <a [routerLinkActive]="['active']"  routerLink="/upload"[routerLinkActiveOptions]="{exact:true}">Upload</a>
  </li>
  <li>
    <a [routerLinkActive]="['active']" routerLink="/analysis"[routerLinkActiveOptions]="{exact:true}">Analysis</a>
  </li>
  <li>
    <a  [routerLinkActive]="['active']" routerLink="/analysis results"[routerLinkActiveOptions]="{exact:true}">Results</a>
  </li>
</ul>
</nav>

