.ml-1 {
    margin-left: 3%;
  }

  .mr-1 {
    margin-right: 3%;
  
  }
  .nav-item.nav-link{
    font-weight: bold;
    color: white;
    padding: 1%;
    margin: 1%;
  }
  .nav-item.nav-link:hover {
    background: rgb(9, 1, 114);
    border-radius: 5px;
    color: white;
}

h1{
  text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased
}

#navbar{
  background-color: #0058db;
}
 #navbar .nav-item.nav-link.active {
  background: rgb(9, 1, 114);
  border-radius: 5px;
  color: white;
}